:root {
  --color-black: #121723;
  --color-black-light: #292e39;
  --color-white: #ffffff;
  --color-text-gray: #a1a6b4;
  --color-gray: #d2d5dd;
  --color-gray-light: #e6e8ec;
  --color-promo: #f0d288;
  --color-promo-dark: #bb973e;
  --color-red: #d52b1e;
  --color-primary: #6d31ee;
  --color-primary-dark: #4f28a5;
  --color-primary-light: #aa9dfa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: var(--color-black);
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
