@import '../fonts/muller/muller.css';
@import '../css/root.css';
@import '../css/blocks/container.css';
@import '../css/blocks/button.css';
@import '../css/blocks/select.css';
@import '../css/blocks/header-link.css';
@import '../css/blocks/badge.css';
@import '../css/blocks/header.css';
@import '../css/blocks/mobile-menu.css';
@import '../css/blocks/menu-toggle.css';
@import '../css/blocks/site-actions.css';
@import '../css/blocks/search.css';
@import '../css/blocks/signin-button.css';
@import '../css/blocks/site-nav.css';
@import '../css/blocks/site-menu.css';
@import '../css/blocks/additional-menu.css';
@import '../css/blocks/streams-on-air.css';
@import '../css/blocks/on-air.css';
@import '../css/blocks/form-field.css';
@import '../css/blocks/contacts.css';
@import '../css/blocks/section.css';
@import '../css/blocks/section-title.css';
@import '../css/blocks/promo.css';
@import '../css/blocks/podcasts.css';
@import '../css/blocks/podcast.css';
@import '../css/blocks/podcast-meta.css';
@import '../css/blocks/broadcasts.css';
@import '../css/blocks/broadcast.css';
@import '../css/blocks/archive.css';
@import '../css/blocks/promotional.css';
@import '../css/blocks/guests.css';
@import '../css/blocks/guest.css';
@import '../css/blocks/accordion.css';
@import '../css/blocks/playlists.css';
@import '../css/blocks/playlist.css';
@import '../css/blocks/playlist-form.css';
@import '../css/blocks/playlist-card.css';
@import '../css/blocks/ganre-field.css';
@import '../css/blocks/disclaimer.css';
@import '../css/blocks/about.css';
@import '../css/blocks/review-form.css';
@import '../css/blocks/footer.css';
@import '../css/blocks/footer-menu.css';
@import '../css/blocks/modal.css';
@import '../css/blocks/modal-login.css';
@import '../css/blocks/login-form.css';

.choices.is-open .choices__list--dropdown {
  display: block;
}

.choices.is-focused {
  outline: none;
  outline: 1px solid var(--color-gray);
  border-radius: 10px;
  outline-offset: -1px;
  background-color: transparent;
}

.choices__inner {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--color-gray-light);
  font-size: 16px;
  line-height: 1;
  color: var(--color-black);
  border: none;
  cursor: pointer;
}

.is-open.choices__inner {
  border-radius: 10px;
}

.choices__inner:hover {
  background-color: #f5f6f7;
}

.choices[data-type*='select-one'].is-focused .choices__inner {
  border-color: var(--color-primary);
}

.choices[data-type*='select-one'].is-open .choices__inner {
  border-color: transparent;
}

.choices[data-type*='select-one']::after {
  width: 13px;
  height: 9px;
  background-image: url('../../img/dropdown.svg');
  border: none;
}

.choices.is-open::after {
  transform: rotate(180deg);
}

.choices__item--choice {
  padding: 12px;
  border-bottom: 1px solid var(--color-gray);
  font-size: 16px;
  color: var(--color-text-gray);
  cursor: pointer;
}

.choices__item--choice:last-child {
  border-bottom: none;
}

.choices__item--choice.is-highlighted {
  background-color: #f5f6f7;
  color: var(--color-black);
}
