.about {
  position: relative;
}

.about__header {
  margin-bottom: 30px;
  background-image: url('../../img/about-bg.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.about__title {
  margin-bottom: 12px;
}

.about__tagline {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.about__text {
  width: 57.12%;
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-text-gray);
}

@media (max-width: 1200px) {
  .about__header {
    background-image: url('../../img/about-bg-1024.svg');
    background-position: center right;
  }

  .about__tagline,
  .about__text {
    width: 66%;
  }
}

@media (max-width: 1023px) {
  .about__header {
    position: relative;
    background-image: none;
  }

  .about__header::after {
    content: '';
    position: relative;
    left: -196px;
    display: block;
    width: 100vw;
    height: 112px;
    margin-top: 30px;
    background-image: url('../../img/about-bg-768.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about__tagline,
  .about__text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about {
    background-image: none;
  }

  .about__header::after {
    display: none;
  }

  .about__tagline {
    margin-bottom: 4px;
    font-size: 14px;
    color: var(--color-text-gray);
  }

  .about__text {
    font-size: 14px;
  }
}
