.archive::before {
  content: '';
  display: block;
  width: 65px;
  height: 89px;
  margin-bottom: 24px;
  background-image: url('../../img/mic.png');
  background-repeat: no-repeat;
}

.archive__link {
  --color-primary: var(--color-black);
  display: block;
  justify-content: center;
  width: 160px;
  text-align: center;
  margin-bottom: 12px;
}

.archive__description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-gray);
}

@media (max-width: 1023px) {
  .archive {
    display: grid;
    grid-template-columns: min-content minmax(auto, 255px);
    column-gap: 20px;
  }

  .archive::before {
    grid-row: 1/3;
    margin-bottom: 0;
  }

  .archive__description {
    grid-column: 2/-1;
  }

  .archive__link {
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .archive__description {
    grid-row: 1/2;
    font-size: 14px;
  }

  .archive__link {
    margin-top: 7px;
    margin-bottom: 0;
    width: 110px;
  }

  .archive::before {
    height: 100%;
    width: 77px;
    background-size: contain;
  }
}
