.form-field {
  position: relative;
  display: flex;
  width: 100%;
}

.form-field__input {
  display: inline-block;
  width: 100%;
  padding: 24px 31px;
  border: 1px solid var(--color-white);
  border-radius: 40px;
  font: inherit;
  font-size: 20px;
  color: var(--color-white);
  background-color: transparent;
}

.form-field__input::placeholder {
  color: var(--color-text-gray);
}

.form-field__input:hover {
  background-color: var(--color-black-light);
}

.form-field__input:focus {
  background-color: var(--color-black-light);
  border-color: var(--color-primary-light);
  outline: none;
}

.form-field__input--invalid {
  border-color: var(--color-red);
}

.form-field__input-error {
  position: absolute;
  top: 9px;
  left: 32px;
  display: none;
  font-size: 12px;
  color: var(--color-red);
}

.form-field__input--invalid + .form-field__input-error {
  display: block;
}

@media (max-width: 767px) {
  .form-field__input {
    padding: 16px 23px;
  }
}
