.header {
  overflow-x: hidden;
}

.header__top {
  padding: 20px 0;
}

.header__bottom {
  display: flex;
  min-height: 60px;
  border: 1px solid var(--color-gray-light);
}

.header__logo {
  flex-shrink: 0;
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
}

.header__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

@media (max-width: 1200px) {
  .header {
    position: relative;
    padding-top: 60px;
  }

  .header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: var(--color-gray-light);
  }

  .header__logo {
    position: absolute;
    top: 23px;
  }

  .header__top-row,
  .header__bottom-row {
    column-gap: 34px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    width: 87px;
    height: 10px;
  }
}
