.playlist-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.playlist-form__fields {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.playlist-form__legend {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--color-text-gray);
}

@media (max-width: 1200px) {
  .playlist-form__fields {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    column-gap: 35px;
  }
}

@media (max-width: 767px) {
  .playlist-form__fields {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100vw - 32px);
    padding-right: 32px;
    column-gap: 15px;
  }
}
