.podcast-meta {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.podcast-meta__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 16px;
  line-height: 1;
  color: var(--color-text-gray);
}

.podcast-meta__item::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
}

.podcast-meta__item--played::before {
  width: 10px;
  height: 13px;
  background-image: url('../../img/play-outline.svg');
}

.podcast-meta__item--liked::before {
  width: 13px;
  height: 12px;
  background-image: url('../../img/heart.svg');
}

.podcast-meta__item--shared::before {
  width: 12px;
  height: 13px;
  background-image: url('../../img/shared.svg');
}
