.podcast-meta {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.podcast-meta__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px;
  column-gap: 6px;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-gray);
}

/* .podcast-meta__item svg {
  color: var(--color-text-gray);
} */

.podcast-meta__item:hover {
  color: var(--color-primary);
}

.podcast-meta__item:focus {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  outline: none;
}

.podcast-meta__item:active {
  color: var(--color-primary-dark);
  background-color: transparent;
}
