.podcast {
  position: relative;
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-template-areas:
    'img content'
    'img meta';
  background-color: var(--color-white);
}

.podcast__poster {
  grid-area: img;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.podcast__content {
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  padding: 30px;
  grid-area: content;
  column-gap: 10px;
}

.podcast__meta {
  grid-area: meta;
  min-height: 31px;
  padding: 0 30px;
  border-top: 1px solid var(--color-gray);
}

.podcast__date {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 51px;
  padding: 3px 6px;
  font-size: 10px;
  background-color: var(--color-gray);
}

.podcast__time {
  display: inline-flex;
  margin-bottom: 8px;
  font-size: 12px;
}

.podcast__title {
  margin: 0 0 4px;
  font-size: 20px;
  font-weight: 400;
}

.podcast__author {
  margin: 0;
  color: var(--color-text-gray);
}

.podcast__play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 0 0 0 4px;
  border-radius: 50%;
  border: 2px solid var(--color-text-gray);
  color: var(--color-text-gray);
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.podcast__play:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.podcast__play:focus {
  color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  outline: none;
}

.podcast__play:active {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

@media (max-width: 767px) {
  .podcast {
    grid-template-columns: 1fr;
    grid-template-areas:
      'img'
      'content'
      'meta';
  }

  .podcast__date {
    top: 0;
    bottom: auto;
  }

  .podcast__poster {
    height: 72px;
    width: 100%;
  }

  .podcast__content {
    padding: 16px;
  }

  .podcast__meta {
    padding-left: 34px;
  }

  .podcast__title {
    font-size: 16px;
  }

  .podcast__author {
    font-size: 12px;
  }

  .podcast__play {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  .podcast__play:hover,
  .podcast__play:focus,
  .podcast__play:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
