.review-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 920px;
  justify-content: flex-start;
  gap: 30px;
}

.review-form__textaria-field {
  grid-column: 1/-1;
}

.review-form__textaria {
  height: 150px;
  resize: none;
}

.review-form__submit,
.review-form__processing {
  grid-column: 1/2;
  align-self: flex-start;
}

.review-form__processing {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.review-form__checkbox {
  appearance: none;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  border: 1px solid var(--color-white);
}

.review-form__checkbox:checked {
  background-repeat: no-repeat;
  background-image: url('../../img/check.svg');
  background-position: center;
}

@media (max-width: 1200px) {
  .review-form {
    max-width: none;
  }
}

@media (max-width: 1023px) {
  .review-form {
    grid-template-columns: 1fr;
  }
}
