.search {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: var(--color-white);
}

.search--opened .search__input {
  display: block;
}

.search__input {
  display: none;
  width: 278px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  font: inherit;
  font-size: 16px;
  line-height: 1;
  background-color: var(--color-white);
}

.search__input::placeholder {
  color: var(--color-text-gray);
}

.search__input:focus {
  outline: none;
}

.search__button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__button svg {
  stroke: var(--color-primary);
}

.search__button:hover svg {
  stroke: var(--color-primary-light);
}

.search__button:focus {
  outline: none;
}

.search__button:focus svg {
  stroke: var(--color-primary-light);
}

.search__button:active svg {
  stroke: var(--color-primary-dark);
}
